<footer class="footer">
  <div class="footer__title">
    <img class="footer__title__img" src="../../../../assets/LMDR brand/logo-manija-red.png" alt="logo-manija-red">
    <h2 class="footer__title__text">LMDR</h2>
  </div>
  <section class="footer__section">
    <h2 class="footer__section__title">Los Manijas Del Rol</h2>
    <div class="footer__section__contact">
      <h3 class="footer__section__contact__title">Contacto</h3>
      <ul class="footer__section__contact__list">
        <li class="footer__section__contact__list__item">
          <div >
            <i class="fa-solid fa-envelope footer__section__contact__list__item__icon"></i>
            <span class="footer__section__contact__list__item__text">LosManijasDelRol@LMDR.com</span>
          </div>
        </li>
        <li class="footer__section__contact__list__item">
          <div class="footer__section__contact__list__item__container"
          routerLink="contact"
          >
            <i class="fa-solid fa-arrow-pointer footer__section__contact__list__item__icon"></i>
            <span class="footer__section__contact__list__item__text">CLICK HERE</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer__section__connect">
      <h3 class="footer__section__connect__title">Connect</h3>
      <ul class="footer__section__connect__list">
        <li class="footer__section__connect__list__item">
          <i class="fa-brands fa-instagram"></i>
        </li>
        <li class="footer__section__connect__list__item">
          <i class="fa-brands fa-whatsapp"></i>
        </li>
        <li class="footer__section__connect__list__item">
          <i class="fa-brands fa-discord"></i>
        </li>
      </ul>

    </div>
  </section>
</footer>
