
<tags-navbar [tags]="tags" (tag)="filterByTag($event)"/>
<main class="blogs">
  <title-subtitle-section [titleSubtitle] ='titleSubtitle'/>
  <section class="blogs__cards-section">
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
    <blog-card/>
  </section>
</main>
