<tags-navbar [tags]="tags" (tag)="filterByTag($event)" @enterState/>
<main class="board-games" @enterState>
  <title-subtitle-section [titleSubtitle] ='titleSubtitle'/>
  <section class="board-games__cards-section">
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
      <boardgame-card class="board-games__cards-section__card" />
  </section>
</main>
