<main class="contact">
  <h1 class="contact__title">Contacto</h1>
  <h5 class="contact__subtitle">
    Envianos tu consulta.
  </h5>
  <section class="contact__form__container">
    <form action="" class="contact__form" [formGroup]="myForm">
      <span class="p-float-label contact__form__item">
        <input formControlName="name" class="contact__form__item__input" pInputText id="username" />
        <label class="contact__form__item__label" htmlFor="username">Nombre y Apellido*</label>
      </span>
      <span class="contact__form__item__error" *ngIf="isValidField('name')">{{showError('name')}}</span>
      <span class="p-float-label contact__form__item">
        <input formControlName="email" class="contact__form__item__input" pInputText id="username" />
        <label class="contact__form__item__label" htmlFor="username">Email*</label>
      </span>
      <span class="contact__form__item__error" *ngIf="isValidField('email')">{{showError('email')}}</span>
      <span class="p-float-label contact__form__item">
        <input formControlName="subject" class="contact__form__item__input" pInputText id="username" />
        <label class="contact__form__item__label" htmlFor="username">Asunto*</label>
      </span>
      <span class="contact__form__item__error" *ngIf="isValidField('subject')">{{showError('subject')}}</span>
      <span class="p-float-label contact__form__item">
        <textarea formControlName="message" class="contact__form__item__input" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label class="contact__form__item__label" for="float-input">Mensaje*</label>
      </span>
      <span class="contact__form__item__error" *ngIf="isValidField('message')">{{showError('message')}}</span>
    <p-button class="contact__form__item__btn"  [outlined]="true" label="Enviar Mensaje" severity="help"></p-button>
    </form>
  </section>
</main>
