$background-nav-color: #111827;
$background-footer-color: #1F3350;
$background-sections-color: rgba(102, 102, 102, 0.1);
$background-main-sections-color:#020918;
$background-board-game-card:#302B4F;
$background-board-game-card-other-info:#463F71;
$font-color-card-game:#A39B9B;
