@import '../../scss/variables.scss';

.blog-card{
  display: flex;
  width: 18.5rem;
  background-color: $background-cards;
  padding: 1.3rem 0.7rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;

  &:hover{
    transform: scale(0.9);
    background-color: #453e74;
    color: rgb(189, 177, 177);
  }

  &__img{
    width: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__information{
    position: relative;
    width: 100%;

    &__title{
      margin-left: 0.5rem;
    }

    &__text{
      font-size: 13px;
      margin: 0.5rem;
      font-weight: 300;
    }

    &__writer{
      position: absolute;
      font-size: x-small;
      right: 0;
    }

  }
}

// MEDIA QUERIES

@media (min-width:600px) {
  .blog-card{
    width: 32.5rem;
    &__img{
      width: 10rem;
    }
  }

  .blog-card__information__writer{
    bottom: 0;
  }

  }
