@import '../../scss/variables.scss';

.search-bar{
  display: flex;
  width: 11.2rem;
  border: 2px solid $search-bar-border-color;
  border-radius: 3px;

  &__search-bar{
    width: 100%;
    height: 2.1rem;
    border: 0;
    outline: none;
  }
}
