/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import './app/dashboard/scss/variables.scss';

*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: $background-main-sections-color;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:2px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
