@import '../../scss/variables.scss';

.nav-bar{
  background-color: $background-nav-color;

  &__ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item{
        padding: 0.7rem 0.3rem;
        cursor: pointer;
        font-size: small;
      }

    &__item--search:active{
        transform: scale(0.8);
      }
  }

}

.active-route{
  background-color: rgba(240, 248, 255, 0.233);
}

// MEDIA QUERIES

@media (min-width:600px) {
  .nav-bar__ul{
    max-width: 26rem;
  }
}

