@import '../../scss/variables.scss';

.nav-bar{
  background-color: $background-nav-color;
  z-index: 999;

  &__ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item{
        padding: 0.7rem 0.3rem;
        position: relative;
        cursor: pointer;
        font-size: small;

      &__search-bar{
        position: absolute;
        right: 1.7rem;
        top: 0;
      }
      }

    &__item--search:active{
        transform: scale(0.8);
      }
  }

}

.active-route{
  background-color: rgba(240, 248, 255, 0.233);
}

.nav-bar__ul__item__active-m-glass{
  color: #ff4500;
}

.open-close-bar{
  display: none;
}

// MEDIA QUERIES

@media (min-width:600px) {
  .nav-bar__ul{
    max-width: 26rem;
  }
}

@media (min-width:600px) {
  .nav-bar__ul__item--search{
    display: none;
  }

  .nav-bar__ul__item__search-bar{
    right: auto;
    display: block;
  }
}

