@import '../../scss/variables.scss';

.boardgame-card,
.boardgame-card__header__game-info,
.boardgame-card__body__chips,
.boardgame-card__body,
.boardgame-card__body__manijometro{
  display: flex;
}

.boardgame-card,
.boardgame-card__body,
.boardgame-card__header__game-info{
  flex-direction: column;
}
.boardgame-card__body,
.boardgame-card__body__manijometro{
  align-items: center;
}

.boardgame-card__body__chips__chip,
.boardgame-card__body__manijometro{
  background-color: $background-board-game-card-other-info;
  color: $font-color-card-game;
}


.boardgame-card{
  width: 19rem;
  height: 37.5rem;
  border-radius: 25px;
  background: $background-board-game-card;
  margin: 2rem 0.5rem; //TODO:borrar

  &__header{
    position: relative;

    &__img{
      width: 19rem;
      height:16rem;
      object-fit: cover;
      border-radius: 25px 25px 0 0;
    }

    &__game-info{
      width: 100%;
      position: absolute;
      bottom: 0;
      background: linear-gradient(357deg, #131212 2.11%, rgba(19, 18, 18, 0.00) 97.34%);
      height: 6.5rem;
      justify-content: flex-end;
      padding: 0.5rem;

      &__title{
        margin-bottom: 0.3rem;
      }
      &__item{
        font-weight: 300;
      }
    }
  }

  &__body{
    padding: 0.5rem;

    &__chips{
      margin-bottom: 0.5rem;
      width: 100%;
      flex-wrap: wrap;

      &__chip{
        padding: 0.3rem;
        border-radius: 25px;
        font-size: x-small;
        margin: 0.2rem;
      }
    }

      &__manijometro{
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 0.8rem;

        &__info{
          width: 9rem;
          &__question{
            display: block;
            font-size: xx-small;
            margin-left: 0.5rem;
            margin-top: 0.4rem;
          }
        }
      }

      &__game-synopsis{
        font-size: 14px;
      }

      &__btn{
        background-color: #f34c5d;
        padding: 0.5rem 5rem;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.7s;

        &:hover{
          background-color: #FB7785;
        }
        &:active{
          transform: scale(0.97);
        }
      }
    }
  }

