<main class="boardgame-card">
  <header class="boardgame-card__header">
    <img  class="boardgame-card__header__img" src="../../../../assets/boargame-card img/zombicide2.jpeg" alt="img title">
    <div class="boardgame-card__header__game-info">
      <h3 class="boardgame-card__header__game-info__title">Zombicide 2nd Edition</h3>
      <h5 class="boardgame-card__header__game-info__item">№ Jugadores: 1-6</h5>
      <h5 class="boardgame-card__header__game-info__item">Duración (Aprox) 60min</h5>
    </div>
  </header>
  <section class="boardgame-card__body">
    <div class="boardgame-card__body__chips">
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category12</span>
      <span class="boardgame-card__body__chips__chip"> category123456</span>
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category123</span>
    </div>
    <div class="boardgame-card__body__manijometro">
      <h3 class="boardgame-card__body__manijometro__title">
        Manijometro
      </h3>
      <div class="boardgame-card__body__manijometro__text">
        Que puntuación le dan los manijas a este juego?
      </div>
      <div class="boardgame-card__body__manijometro__pie-chart">
        <div class="boardgame-card__body__manijometro__pie-chart__chart"></div>
        <div class="boardgame-card__body__manijometro__pie-chart__numbers">90/100</div>
      </div>
    </div>
    <p class="boardgame-card__body__game-synopsis">Zombicide, the board game, has taken the world by storm with over two million copies sold since its release in 2012 and spawning a cult franchise of cooperative zombie slaying all over the world. In Zombicide, zombies are controlled....</p>
    <span class="boardgame-card__body__btn">Leer Más...</span>
  </section>
</main>
