<!-- TODO:futuro problema cuando una card tenga mas chips que la otra y pase de renglon se van a desnivelar, solucuion en el main padre desntro
de juegos component poner que las cards siempre tengan el 100%del padre, entonces cuando una se estire el padre tambien y el resto lo hara tamb -->

<main class="boardgame-card boardgame-card__top-1">
  <header class="boardgame-card__header">
    <img  class="boardgame-card__header__img" src="../../../../assets/boargame-card img/zombicide2.jpeg" alt="img title">
    <div class="boardgame-card__header__game-info">
      <h3 class="boardgame-card__header__game-info__title">Zombicide 2nd Edition</h3>
      <h5 class="boardgame-card__header__game-info__item">№ Jugadores: 1-6</h5>
      <h5 class="boardgame-card__header__game-info__item">Duración (Aprox) 60min</h5>
      <i class="fa-solid fa-dice-d20 boardgame-card__top-1__dice"></i>
    </div>
  </header>
  <section class="boardgame-card__body">
    <div class="boardgame-card__body__chips">
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category12</span>
      <span class="boardgame-card__body__chips__chip"> category123456</span>
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category</span>
      <span class="boardgame-card__body__chips__chip"> category123</span>
    </div>
    <manijometro [manijometroScore]= manijometroScore1/>
    <p class="boardgame-card__body__game-synopsis">Zombicide, the board game, has taken the world by storm with over two million copies sold since its release in 2012 and spawning a cult franchise of cooperative zombie slaying all over the world. In Zombicide, zombies are controlled....</p>
    <span class="boardgame-card__body__btn" routerLink="/lmdr/boardgame/lunaCapital">Leer Más...</span>
  </section>
</main>



