@import '../../scss/variables.scss';

.boardgame-card,
.boardgame-card__header__game-info,
.boardgame-card__body__chips,
.boardgame-card__body,
.boardgame-card__body__manijometro,
.boardgame-card__body__manijometro__pie-chart,
.boardgame-card__body__manijometro__pie-chart__chart{
  display: flex;
}

.boardgame-card,
.boardgame-card__body,
.boardgame-card__header__game-info{
  flex-direction: column;
}
.boardgame-card__body,
.boardgame-card__body__manijometro,
.boardgame-card__body__manijometro__pie-chart,
.boardgame-card__body__manijometro__pie-chart__chart{
  align-items: center;
}

.boardgame-card__body__manijometro__pie-chart,
.boardgame-card__body__manijometro__pie-chart__chart{
  justify-content: center;
}

.boardgame-card__body__chips__chip,
.boardgame-card__body__manijometro{
  background-color: $background-board-game-card-other-info;
  color: $font-color-card-game;
}

@mixin top($top-color) {
  outline: 5px solid $top-color;
}

@mixin top-dice($top-color, $puesto) {
    position: absolute;
    right: 1rem;
    font-size: 2.3rem;
    color: $top-color;
    background-color: #131212ce;
    border-radius: 50%;
    margin-right: 0.2rem;


      &::after{
        content: 'Top '$puesto' Manijometro';
        background-color: rgba(19, 18, 18, 0.7960784314);
        font-size: 9px;
        padding: 0.1rem;
        border-radius: 3px;
        position: absolute;
        right: -1rem;
        bottom: 42px;
        text-align: center;
        line-height: 12px;
      }

  }

  .boardgame-card{
  width: 18rem;
  height: 37.5rem;
  border-radius: 25px;
  background: $background-cards;
  margin: 2rem 0.5rem; //TODO:borrar


  // Top games Classes
  // GOLD
  &__top-1{
    @include top($gold)
  }

  &__top-1__dice{
    @include top-dice($gold,'1')
  }
  //SILVER
  &__top-2{
    @include top($silver)
  }

  &__top-2__dice{
    @include top-dice($silver,'2')
  }

  //BRONZE
  &__top-3{
    @include top($bronze)
  }

  &__top-3__dice{
    @include top-dice($bronze,'3')
  }
  // Top games Classes styles end

  &__header{
    position: relative;

    &__img{
      width: 18rem;
      height:16rem;
      object-fit: cover;
      border-radius: 25px 25px 0 0;
    }

    &__game-info{
      width: 100%;
      position: absolute;
      bottom: 0;
      background: linear-gradient(357deg, #131212 2.11%, rgba(19, 18, 18, 0.00) 97.34%);
      height: 6.5rem;
      justify-content: flex-end;
      padding: 0.5rem;

      &__title{
        margin-bottom: 0.3rem;
      }
      &__item{
        font-weight: 300;
      }
    }
  }

  &__body{
    padding: 0.5rem;

    &__chips{
      margin-bottom: 0.5rem;
      width: 100%;
      flex-wrap: wrap;

      &__chip{
        padding: 0.3rem;
        border-radius: 25px;
        font-size: x-small;
        margin: 0.2rem;
      }
    }

      &__manijometro{
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 0.8rem;

        &__info{
          width: 9rem;
          &__question{
            display: block;
            font-size: xx-small;
            margin-left: 0.5rem;
            margin-top: 0.4rem;
          }
        }

        &__pie-chart__chart{
          width: 5rem;
          height: 5rem;
          border-radius: 100%;

          &::before{
            content: "";
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color:$background-board-game-card-other-info;
            }
          }

          &__pie-chart__score{
            position: absolute;
          }
      }

      &__game-synopsis{
        font-size: 13px;
      }

      &__btn{
        background-color: #f34c5d;
        padding: 0.5rem 5rem;
        margin-top: 0.5rem;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.7s;

        &:hover{
          background-color: #FB7785;
        }
        &:active{
          transform: scale(0.97);
        }
      }
    }
  }

  // MEDIA QUERIES

  @media (min-width:600px) {

    .boardgame-card,
    .boardgame-card__header__img{
      width: 17.9rem
    }

    .boardgame-card__body__btn{
      margin-top: 0.5rem;
    }
  }

  @media (min-width:801px) {

    .boardgame-card,
    .boardgame-card__header__img{
      width: 19rem;
    }

    .boardgame-card__body__btn{
      margin-top: 1rem;
    }
  }
